<link rel="stylesheet" type="text/css" href="css/style.css">

{% extends "store/template/store/layouts/main.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-3 shadow">
                <div class="card-body">
                    <div class="register-card">
                        <h2 class="card-title">Lgoin</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Username : </label>
                                <input type="text" class="form-control" name="username" placeholder="Enter Username">

                            <div class="form-group">
                                <label>Password : </label>
                                <input type="password" class="form-control" name="password" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
